.loader-container { /* Added dot */
  width: 100px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.bouncing-square { /* Added dot */
  width: 20px;
  height: 20px;
  background-color: blue;
  position: absolute;
  border-radius: 5px; /* Add border-radius */
  animation: bounce .5s linear infinite alternate;
}

@keyframes bounce {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(200%));
  }
}